* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #fffaf5;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  min-width: 214px;
  line-height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
}

/* Header */
.header {
  padding-top: 26px;
  padding-bottom: 10px;
  background-color: #fffaf5;
}

.header--sticky {
  position: sticky;
  top: -16px;
  z-index: 99;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  gap: 36px;
}

.header__action {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__sign-in {
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

.header__sign-in:hover {
  color: #ff5b2e;
}

.header__sign-up {
  min-width: 117px;
  line-height: 50px;
  border-radius: 25px;
  border: 1px solid #000958;
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  transition: background-color, border-color, color;
  transition-duration: 0.4s;
}

.header__sign-up:hover {
  background-color: #ff5b2e;
  border-color: #ff5b2e;
  color: #fff;
}

.navbar__item a {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}

.navbar__item:hover:not(.navbar__item--active) a {
  color: #000958;
  text-decoration: underline;
}

.navbar__item--active a {
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

/* Hero */
.hero {
  margin-top: 90px;
}

.hero .container {
  display: flex;
  gap: 283px;
  position: relative;
  padding-bottom: 94px;
}

.hero__circle {
  position: absolute;
  z-index: -1;
  bottom: 103.53px;
  left: -57.5px;
}

.hero__deco {
  position: absolute;
  z-index: -1;
  top: 16.66px;
  left: 377.15px;
}

.hero__img-wrap:first-child .hero__img {
  width: 388px;
  object-fit: cover;
  border: 3px solid #f2f2f2;
  border-radius: 16px;
  background: #fe997b;
}

.hero__img-wrap:nth-child(2) .hero__img {
  padding-top: 24px;
  position: absolute;
  left: 365.49px;
  bottom: 36px;
  width: 186px;
  object-fit: cover;
  border: 2px #f9dde0 solid;
  border-radius: 16px;
  background: #faa7ad;
}

.hero-info {
  position: absolute;
  left: 129px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-info::after {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  width: 222px;
  height: 2px;
  background: #f2f2f2;
}

.hero-info__row {
  display: flex;
  gap: 8px;
}

.hero-info__title {
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

.hero-info__row:first-child .hero-info__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #fec23f;
}

.hero-info__row:last-child .hero-info__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #c6e2fa;
}

.hero-info__text-long {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-info__text-short {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__heading {
  margin-top: 71px;
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 115.152%;
}

.hero__desc {
  max-width: 391px;
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.hero__action {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__btn {
  align-items: center;
  gap: 10px;
  min-width: 189px;
  line-height: 60px;
  border-radius: 31px;
  background-color: #ff5b2e;
  transition: box-shadow 0.25s;
}

.hero__btn:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.hero__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fffaf5;
}

.hero__link {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
}

.hero__link:hover {
  text-decoration: underline;
}

/* About */
.about {
  margin-top: 77px;
  padding: 53px 0;
}

.about .container {
  position: relative;
  display: flex;
  gap: 200px;
}

.about__text {
  margin-top: 77px;
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.about__heading {
  margin-top: 15px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.about__desc {
  margin-top: 24px;
  max-width: 431px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.about__check {
  margin-top: 54px;
}

.about-row {
  display: flex;
  align-items: center;
}

.about-row__option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-row:first-child {
  gap: 62px;
}

.about-row:last-child {
  margin-top: 34px;
  justify-content: space-between;
}

.about-row__checked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about-row__title {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 100%;
}

.about__media {
  margin-top: 223px;
}

.about__img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
  width: 450px;
  height: 602px;
  object-fit: cover;
}

.about-exp {
  position: absolute;
  top: 165px;
  right: 450px;
  min-width: 136px;
  height: 156px;
  border-radius: 10px;
  background-color: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-exp__number {
  display: block;
  margin-top: 31px;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 100%;
}

.about-exp__title {
  margin-top: 14px;
  max-width: 83px;
  margin: 14px auto 0;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}

.about-exp__icon {
  object-fit: cover;
  position: absolute;
  top: -38px;
  right: -32px;
}

.about__deco {
  position: absolute;
  z-index: -1;
  top: 157px;
  right: -50.63px;
}

/* Features */
.features {
  margin-top: 77px;
}

.features .container {
  position: relative;
  padding: 16px 0 55px;
  display: flex;
  gap: 127px;
}

.features__img {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features__heading {
  margin-top: 36px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.features__desc:first-of-type {
  max-width: 511px;
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.features-services {
  position: relative;
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-services::before,
.features-services::after {
  content: "";
  position: absolute;
}

.features-services::before {
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.07;
  background-color: #ff5b2e;
}

.features-services::after {
  bottom: -11px;
  left: 0;
  width: 95px;
  height: 2px;
  border-radius: 1px;
  background-color: #ff5b2e;
}

.features-services__icon {
  width: 18px;
  object-fit: cover;
}

.features-services__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-services__title a {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.features__desc:nth-of-type(2) {
  max-width: 391px;
  margin-top: 36px;
  margin-bottom: 32px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 171.429%;
}

.features__cta {
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
}

.features__cta:hover {
  text-decoration: underline;
}

.features__line-white {
  position: absolute;
  top: 28.5px;
  left: 388.73px;
}

.features__line-yellow {
  position: absolute;
  top: 0;
  left: 426.37px;
}

.features__line-orange {
  position: absolute;
  top: 50px;
  left: 425.5px;
}

.features__triangle-blue {
  position: absolute;
  top: 284px;
  left: 468px;
}

.features__triangle-white {
  position: absolute;
  top: 352px;
  left: 427px;
}

.features__triple-circle {
  position: absolute;
  bottom: 0;
  left: 377px;
}

/* Services */
.services {
  margin-top: 130px;
  background-color: #fff6ed;
  padding: 68px 0 100px;
}

.services__text {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.services__heading {
  margin-top: 15px;
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.services__content {
  display: grid;
  margin-top: 71px;
  grid-template-columns: auto 1fr auto;
  column-gap: 86px;
}

.services__img-wrap {
  margin-top: 260px;
  position: relative;
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 447px;
  object-fit: cover;
}

.services__btn {
  margin: 48px auto 0;
  max-width: 214px;
  line-height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  transition: color, background-color;
  transition-duration: 0.4s;
}

.services__btn:hover {
  color: #fff;
  background-color: #ff5b2e;
}

.services-item {
  padding: 30px 22px 30px 28px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background-color: #fff;
}

.services-item + .services-item {
  margin-top: 24px;
}

.services-item__title {
  margin-left: 12px;
  position: relative;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 100%;
}

.services-item__title::before {
  position: absolute;
  left: -12px;
  bottom: 0;
  content: "";
  display: inline-block;
  border-radius: 1px;
  width: 2px;
  height: 22px;
  background-image: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__desc {
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 171.429%;
}

.services-item__cta {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
}

.services-item__cta span {
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%;
  transition: color 0.2s;
}

.services-item__cta:hover span {
  color: rgb(255, 91, 46);
}

/* Staff */
.staff {
  margin-top: 130px;
}

.staff__text {
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.staff__heading {
  margin-top: 15px;
  text-align: center;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.staff__members {
  margin-top: 59px;
  display: flex;
  gap: 35px;
}

.staff__member {
  flex: 1;
}

.staff__img-wrap {
  position: relative;
  margin: 0 auto;
  width: 234px;
  height: 266px;
  border-radius: 129.5px;
}

.staff__member:first-child .staff__img-wrap {
  background-image: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__member:nth-child(2) .staff__img-wrap {
  background-image: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__member:nth-child(3) .staff__img-wrap {
  background-image: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__member:last-child .staff__img-wrap {
  background-image: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.staff__job {
  margin-top: 30px;
  color: #656689;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}

.staff__name {
  margin-top: 14px;
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 100%;
}

.staff__member:first-child .staff__img-deco {
  position: absolute;
  bottom: 0;
  left: -16px;
}

.staff__member:nth-child(2) .staff__img-deco {
  position: absolute;
  top: 0;
  left: -16px;
}

.staff__member:nth-child(3) .staff__img-deco {
  position: absolute;
  bottom: 0;
  left: -16px;
}

.staff__member:last-child .staff__img-deco {
  position: absolute;
  top: 0;
  left: -16px;
}

.staff__btn {
  margin: 48px auto 0;
  display: block;
  text-align: center;
  max-width: 193px;
  line-height: 56px;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  transition: background-color, color;
  transition-duration: 0.4s;
}

.staff__btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 91, 46);
}

/* Pricing */
.pricing {
  padding: 86px 0 86px;
  margin-top: 130px;
  background-color: #fff6ed;
}

.pricing__heading {
  color: #000958;
  text-align: center;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.pricing__desc {
  margin: 24px auto 0;
  max-width: 709px;
  color: #656689;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.pricing__date {
  position: relative;
  display: inline-block;
  margin-left: 50%;
  margin-top: 38px;
  translate: -50%;
}

.pricing__month {
  padding-left: 40px;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  width: 276px;
  line-height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
}

.pricing__year {
  position: absolute;
  bottom: 1px;
  right: 0;
  min-width: 131px;
  line-height: 56px;
  border-radius: 31px;
  background-color: #ff5b2e;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.pricing__sale {
  position: absolute;
  bottom: 29.2px;
  right: -113px;
}

.pricing__list {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 44px;
}

.pricing-item {
  max-width: 25.81%;
  padding: 30px 28px 43px 28px;
  flex: 1;
  border-radius: 20px;
  background-color: #fff;
}

.pricing-item__text {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%;
}

.pricing-item__heading {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.pricing-item__price {
  margin-top: 24px;
  color: #000958;
  font-family: Sora;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 103.03%;
}

.pricing-item__btn {
  margin-top: 22px;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 44px;
  transition: background-color, color;
  transition-duration: 0.4s;
}

.pricing-item__btn:hover {
  background-color: #ff5b2e;
  color: #fff;
}

.pricing-item__row {
  display: flex;
  gap: 12px;
}

.pricing-item__opt {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}

.pricing-item__row:first-of-type {
  margin-top: 24px;
}

.pricing-item__row + .pricing-item__row {
  margin-top: 18px;
}

/* Reviews */
.reviews {
  margin-top: 53px;
  padding-top: 77px;
}

.reviews__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__btn {
  color: #ff5b2e;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1.5px #ffd1c4 solid;
  cursor: pointer;
  transition: color, background-color, border-color;
  transition-duration: 0.25s;
}

.reviews__btn:last-of-type {
  rotate: 180deg;
}

.reviews__btn:hover {
  color: #fff;
  background-color: #ff5b2e;
  border-color: #ff5b2e;
}

.reviews__content {
  display: flex;
  gap: 115px;
}

.reviews__img-wrap {
  flex-shrink: 0;
  position: relative;
  width: 274px;
  height: 350px;
  border-radius: 137px;
  background: #ffda54;
}

.reviews__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.reviews__heading {
  margin-top: 36px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.reviews__quote-block {
  max-width: 553px;
}

.reviews__quote {
  margin-top: 24px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.556%;
}

.reviews__name {
  margin-left: 29px;
  position: relative;
  margin-top: 34px;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.reviews__name::before {
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  border-radius: 1px;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.reviews__dots {
  margin-top: 56px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.reviews__dot:first-child {
  width: 24px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff5b2e;
}

.reviews__dot + .reviews__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
}

/* Blog */
.blog {
  margin-top: 130px;
}

.blog__row-top {
  display: flex;
  gap: 512px;
}

.blog__heading {
  margin-top: 39px;
  min-width: 235px;
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.blog__desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
}

.blog__cta {
  max-width: 350px;
}

.blog__btn {
  margin-top: 24px;
  display: inline-block;
  text-align: center;
  min-width: 182px;
  line-height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  transition: background-color, color;
  transition-duration: 0.4s;
}

.blog__btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 91, 46);
}

.blog__list {
  margin-top: 54px;
  display: flex;
  gap: 48px;
}

.blog-item {
  flex: 1;
}

.blog-item__wrap-img {
  position: relative;
  height: 362px;
  border-radius: 24px 24px 0 24px;
  background: #90ccff;
  padding: 24px 0 0 36px;
}

.blog-item:nth-child(2) .blog-item__wrap-img {
  background-color: #ff997e;
}

.blog-item:last-child .blog-item__wrap-img {
  background-color: #5bd6e2;
}

.blog-item__date {
  display: inline-block;
  color: #fff;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 400;
}

.blog-item__img {
  position: absolute;
  width: 322px;
  height: 296px;
  object-fit: cover;
  bottom: 0;
  right: 0;
}

.blog-item__content {
  padding-top: 28px;
  background-color: #fffaf5;
}

.blog-item__title a {
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 154.545%;
}

.blog-item__desc {
  margin-top: 16px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 171.429%;
}

/* Footer*/
.footer {
  margin-top: 131px;
  background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer .container {
  display: flex;
}

.footer__content-left {
  min-width: 41.03%;
  padding-bottom: 148px;
}

.footer__content-right {
  position: relative;
  padding-left: 129px;
}

.footer__email {
  padding-left: 22px;
  padding-right: 50px;
  width: 268px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background-color: #fff;
  outline: none;
  color: #656689;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 116.667%;
}

.footer__email::placeholder {
  color: #656689;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 116.667%;
}

.footer__form {
  margin-top: 35px;
  position: relative;
}

.footer__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ff5b2e;
  cursor: pointer;
  bottom: 0;
  right: 211px;
}

.footer__btn:hover {
  opacity: 0.9;
}

.footer__contact-block {
  display: grid;
  grid-template-columns: 161px 226px;
  column-gap: 137px;
}

.footer__title {
  margin-top: 68px;
  color: #000958;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 111.111%;
}

.footer__socials {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.4s;
}

.footer__social:hover {
  background-color: #9ec4e4;
}

.footer .logo {
  margin-top: 114px;
}

.footer__explore .footer__title {
  margin-top: 52px;
}

.footer__info .footer__title {
  margin-top: 86px;
}

.footer__useful-links .footer__title {
  margin-top: 52px;
}

.footer__item a {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 200%;
}

.footer__opening-time .footer__title {
  margin-top: 58px;
}

.footer__list {
  margin-top: 14px;
}

.footer__item:hover a {
  text-decoration: underline;
}

.footer__copy-right {
  position: absolute;
  left: 22px;
  bottom: 48px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 116.667%;
  opacity: 0.5;
}
